@charset "utf-8";

//Style definitions
$font-stack: Helvetica, sans-serif;

// Bulma variables
$family-primary: $font-stack;

$family-secondary: "forum", serif;

// $title-color: $blue;
$primary: #151c25; //#6E6E70;//
$background: #27475b;

//#6E6E70

$accent: #a8b279;

$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;
$grey-lightest: hsl(0, 0%, 93%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$orange: hsl(14, 100%, 53%) !default;
$yellow: hsl(44, 100%, 77%) !default;
$green: hsl(153, 53%, 53%) !default;
$turquoise: hsl(171, 100%, 41%) !default;
$cyan: hsl(207, 61%, 53%) !default;
$blue: hsl(229, 53%, 53%) !default;
$purple: hsl(271, 100%, 71%) !default;
$red: hsl(348, 86%, 61%) !default;

$navbar-item-img-max-height: 100px;
$navbar-background-color: $primary;

$footer-padding: 2rem 1.5rem 2rem;
$footer-background-color: $primary;

$body-color: $white-ter;
$body-background-color: $background;

$message-header-background-color: $primary;
$message-background-color: $white;
$message-body-color: $black-ter;

@import "~bulma/bulma.sass";
@import '@creativebulma/bulma-tooltip';

.is-accent {
  color: $accent !important;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.hidden {
  display: none;
}

.card {
  height: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#about {
  background-color: $accent;
}

// Mapbox styles
.marker {
  background-image: url('../images/logo.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

